<div class="row">
  <div class="col-xl-6" id="ch1">
      <p class="segment">
        <b>Char 1</b>
        <canvas #canvas id="canvas">{{ chart }}</canvas>
      </p>
  </div>

  <div class="col-xl-6" id="ch2">
    <p class="segment">
      <b>Char 2</b>
      <canvas #canvas2 id="canvas">{{ chart2 }}</canvas>
    </p>
  </div>

  <div class="col-xl-6" id="ch3">
    <p class="segment">
      <b>Char 3</b>
      <canvas #canvas3 id="canvas">{{ chart3 }}</canvas>
    </p>
  </div>
  <div class="col-xl-6" id="ch4">
    <p class="segment">
      <b>Char 4</b>
      <canvas #canvas4 id="canvas">{{ chart4 }}</canvas>
     </p>
  </div>
</div>
