<!--
<div class="row">
  <div class="col-xl-6" id="ch1">
      <p class="segment">
        <b>Chart 1</b>
        <canvas #canvas id="canvas">{{ chart }}</canvas>
      </p>
  </div>

  <div class="col-xl-6" id="ch2">
    <p class="segment">
      <b>Chart 2</b>
      <canvas #canvas2 id="canvas">{{ chart2 }}</canvas>
    </p>
  </div>

  <div class="col-xl-6" id="ch3">
    <p class="segment">
      <b>Chart 3</b>
      <canvas #canvas3 id="canvas">{{ chart3 }}</canvas>
    </p>
  </div>
  <div class="col-xl-6" id="ch4">
    <p class="segment">
      <b>Chart 4</b>
      <canvas #canvas4 id="canvas">{{ chart4 }}</canvas>
     </p>
  </div>
</div>
-->

<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <ngb-carousel
    [showNavigationArrows]="true" 
    [showNavigationIndicators]="true"
    interval="5000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="true"
    [activeId]="'secondSlide'"
    >
      <ng-template ngbSlide>
        <div class="segment">
          <b>Chart 1</b>
          <canvas #canvas id="canvas" alt="Angular Carousel 1">{{chart}}</canvas>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="segment">
          <b>Chart 2</b>
          <canvas #canvas2 id="canvas" alt="Angular Carousel 2">{{chart2}}</canvas>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="segment">
          <b>Chart 3</b>
          <canvas #canvas3 id="canvas" alt="Angular Carousel 3">{{chart3}}</canvas>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="segment">
          <b>Chart 4</b>
          <canvas #canvas4 id="canvas" alt="Angular Carousel 4">{{chart4}}</canvas>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>