<div class="dashboard">
  <div class="row" >
      <!-- gps -->
    <div class="container col card mb-3 mt-3 ml-5 mr-3 bg-info" id="gps">
      <h5 class="card-title text-center text-white">
        GPS
      </h5>
      <div>
        <app-gps></app-gps>
      </div>
    </div>
    <!-- video -->
    <div class="container col card mb-3 mt-3 ml-3 mr-3 bg-info" id="video">
      <h5 class="card-title text-center text-white">
        Live Feed
      </h5>
      <div>
        <app-video></app-video>
      </div>
    </div>
      <!-- speedometer -->
    <div class="container col card mb-3 mt-3 ml-3 mr-5 bg-info" id="speedometer">
      <h5 class="card-title text-center text-white">
        Speedometer
      </h5>
        <div>
          <app-speedometer></app-speedometer>
        </div>
    </div>
  </div>
</div>