<nav class="background">

  <div class="navbar-header">
    <div class="row">
      <div class="col-l">
        <a class="navbar-left">
          <img src="assets/nasa.png" width="80px" height="65px"/>
          <img src="assets/uprm.png" width="75px" height="65px"/>
        </a>
      </div>
      <div class="col-xl">
        <h2>UPRM Moonbuggy Project Design</h2>
        <h6><i>Telemetry Department</i></h6>
      </div>
      <div class="col-l">
        <a class="navbar-right" >
          <div class="dropdown">
            <button class="btn dropdown-toggle dropbtn" id="dropdn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BUGGYS
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdn">
            <!-- <div class="dropdown-content"> -->
              <a class="dropdown-item" href="#">Three Wheels</a>
              <a class="dropdown-item" href="#">Four Wheels</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</nav>
