<nav class="background">

  <div class="navbar-header">
    <div class="row">
      <div class="col-l">
        <a class="navbar-left">
          <img src="assets/nasa.png" width="80px" height="65px"/>
          <img src="assets/uprm.png" width="75px" height="65px"/>
        </a>
      </div>
      <div class="col-l">
        <h2><b>UPRM Moonbuggy Engineering Team</b></h2>
        <h5><i>Telemetry Department</i></h5>
      </div>
      <div class="col-l">
        <a class="logo">
          <img src="assets/logoBuggy.png" width="350px" height="65px"/>
        </a>
      </div>
      <div class="col-l">
        <a class="navbar-right" >
          <div class="dropdown">
            <button class="dropbtn"> Rovers
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <!-- <select onchange = "$('#switchBuggy').attr('src', this.options[this.selectedIndex].value);"></select> -->
              <a href="Buggy1">Buggy #1</a>
              <a href="Buggy2">Buggy #2</a>
            </div>
          </div>
          </a>
      </div>
    </div>
  </div>
</nav>
