<nav class="background">

  <div class="navbar-header">
    <div class="row justify-content-center">
      <div class="col-l">
        <a class="navbar-left">
          <img src="assets/nasa.png" width="80px" height="65px"/>
          <img src="assets/uprm.png" width="75px" height="65px"/>
        </a>
      </div>
      <div class="col-l">
        <h2><b>UPRM Moonbuggy Engineering Team</b></h2>
        <h5><i>Telemetry Department</i></h5>
      </div>
      <div class="col-l">
        <a class="logo">
          <img src="assets/logoBuggy.png" width="350px" height="65px"/>
        </a>
      </div>
      <div class="col-l">
        <a class="navbar-right" >
          <div class="dropdown">
            <button class="dropbtn"> Rovers
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a [routerLink]="['/buggy']"
                 [queryParams]="{ name: 'NewBuggy' }"> New Buggy </a>
              <a [routerLink]="['/buggy']"
                 [queryParams]="{ name: 'OldBuggy' }"> Old Buggy </a>
            </div>
          </div>
          </a>
      </div>
    </div>
  </div>
</nav>
