    .background{
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      background-color: #000000;
      /* border-radius: 15px; */
      border-style: double;
      border-color: #fffff;
    }

    .navbar-right{
      float: right;
      padding-right: 45px;
    }

    .dropbtn {
      background-color: #00ff00;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    h2{
      color: white;
    }

    h6{
      color: white;
      font-size: 10px;
    }
