<div style= "map:" #map>
  <img src=".\assets\buggyTopView.png" height="350" width="450">
  <!-- <select onchange = "$('#switchBuggy').attr('src', this.options[this.selectedIndex].value);"> -->
   <!-- <option value = ".\assets\buggyTopView.png" height="300" width="400">Buggy #1</option>
   <option value = ".\assets\test-image.jpg" height="300" width="400">Buggy #2</option>  -->
  <!-- </select> -->
   <!-- <br><br>   -->

   <!-- <div id=".\assets\buggyTopView.png" style="display:hidden;">Buggy #1<div>
   <div id=".\assets\test-image.jpg" style="display:hidden;">Buggy #2<div> -->
    <!-- <option value = "Buggy1" src =".\assets\buggyTopView.png" height="300" width="400"></option>
    <option value = "Buggy2" src =".\assets\test-image.jpg" style="display:hidden;" height="300" width="400"></option> -->
</div>
