.top-row{
    background-color: #778899;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1px;
}

.full-width{
  width: 100%;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
