<div class="buggy">
   <!-- <div > -->
      <div class="row justify-content-center" >
         <div class="col-md justify-content-center">
            <div style = "grid-column-start: 1; grid-column-end: 6;" id="chart">
               <canvas id="strainGraph"></canvas> 
            </div>
         </div>
         <div class="col-l justify-content-center">
            <div style = "grid-column-start: 7; grid-column-end: 12;">
               <img src=".\assets\buggyVerticalTopViewCHJS-FIXED.png" id="buggy" class = "img-responsive">
            </div>
         </div>
      </div>
   <!-- </div> -->
</div>